body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, #8ee595, #c3d8cc);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #82db89, #b1e8c8); 
    margin: 0; 
    padding: 12px 0 12px 120px; 
    
}

h2 {
    font-size: 35px;
    margin-top: 30px;
    color: #333;
    margin-left: 60px;
}
.layout {
    display: flex;
    min-height: 100vh;
}

/* MENÚ IZQUIERDA */
.menu {
    width: 250px;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* LINKS */
.menu a {
    text-decoration: none;
    font-size: 22px;
    color: #222;
    transition: 0.3s;
}

.menu a:hover {
    transform: translateX(8px);
    color: #1b5e20;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1a252f;
}



.contenido {
    
    flex: 1;
    padding: 100px;

}
pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  color: #c7254e;
  font-family: monospace;
}