body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right, #8ee595, #c3d8cc);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #82db89, #b1e8c8); 
    margin: 0; 
    padding: 12px 0 12px 120px; 
    
}

h2 {
    font-size: 35px;
    margin-top: 30px;
    color: #333;
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 80px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1a252f;
}